@using Microsoft.AspNetCore.Components.Forms

@namespace AspNetCore.GitHub.Issue65070.Pages.SignIn
@inject AntiforgeryStateProvider antiforgeryStateProvider;
<form action="@EndpointPaths.SignInChallenge" method="post">
    @{
        var token = antiforgeryStateProvider.GetAntiforgeryToken(); // For debugging purposes only.
    }
    <AntiforgeryToken/>

    <input type="hidden" name="@nameof(RedirectUri)" value="@this.RedirectUri" />
    <input name="@(nameof(LoginHint))" value="@this.LoginHint"/>

    <button type="submit">Next</button>
</form>